.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slides {
    display: flex;
    flex-direction: column;
    height: 200%; /* Two slides */
  }
  
  .carousel-buttons .btn {
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  